
a:hover {
	color: #d22222;
}

.wdu-head-info .wdu-pops-navbar .wdu-this a,
.wdu-text-green {
	color: #d22222!important;
}

.wdu-head-info .wdu-pops-navbar .wdu-this a:before,
.wdu-swip-this,
.wdu-back-green {
	background-color: #d22222!important;
}

.wdu-list-info .wdu-list-score:before {
	border-top: 0.25rem solid #d22222;
}

.wdu-rims-reds,
.wdu-head-info .wdu-navs-search .wdu-navs-input:hover,
.wdu-head-info .wdu-navs-search .wdu-navs-input:focus {
	border-color: #d22222!important;
}

.wdu-page-info a:hover,
.wdu-page-info span,
.wdu-btns-green,
.wdu-btns-info:hover {
	background-color: #d22222!important;
	border-color: #d22222!important;
}

.wdu-navs-logo{
	color: #d22222!important;
}